.button {
    border-radius: 6px;
    padding: 10px 30px;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.25s;
    border: none;
}

.button:hover {
    border-color: #222096;
}

.accent {
    background: #312EB5;
}
